/* General */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; 
  padding: 0px 156px;
}
/* Header */
.header {
  background-color: #4694DC;
  min-height: 500px;
  padding-top: 82px;
  padding-bottom: 82px;
  color: #fff;
}
.header_title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 38px;
}
.header_text {
  font-size: 16px;
  font-weight: 400;
  max-width: 437px;
  line-height: 24px;
  margin-bottom: 45px;
}
.header_button {
  width: 194px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
/* Block */
.services .block {
  text-align: center;
  margin-bottom: 118px;
}
.block_title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  margin-bottom: 25px;
}
.block_text {
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-weight: 400;
  color: #9CA3AF;
  max-width: 465px;
  margin: 0 auto;
}
/* Services */
.services {
  padding: 88px 0 166px;
}
.services_items {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 888px;
  margin: 0 auto;
}
.services_item {
  width: 280px;
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services_img {
  align-self: center;
}
.services_title {
  font-size: 16px;
  font-weight: 400;
}
/* Team */
.team {
  padding-bottom: 142px;
}
.team .block {
  margin-bottom: 81px;
  text-align: center;
}
.team_items {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  gap: 50px;
}
.team_item {
  padding: 20px;
  background-color: #fff;
  display: flex;
  width: 260px;
  height: 76px;
  border-radius: 11px;
  box-shadow: 0px 4px 70px 0px rgba(91, 93, 99, 0.06);
  align-items: center;
}
.team_img {
  align-self: center;
  margin-right: 8px;
}
.team_title {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 5px;
}
.team_text {
  margin-top: 0;
  font-size: 11px;
  color: #9CA3AF;
  font-style: italic;
}
/* Media */
@media screen and (max-width: 1366px) {
  .team .container {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 1024px) {
  .team_items {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 15px;
  }
  .services_items {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 420px) {
  .header_title {
    font-size: 36px;
  }
}