/* General */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; 
  padding: 0px 156px;
}
/* Header */
.header {
  background-color: #4694DC;
  min-height: 500px;
  padding-top: 82px;
  padding-bottom: 82px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.header_title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 38px;
}
.header_text {
  font-size: 16px;
  font-weight: 400;
  max-width: 437px;
  line-height: 24px;
  margin-bottom: 45px;
}
.header_button {
  width: 194px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
/* Services */

/* Media */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 400px) {
  .header_title {
    font-size: 36px;
  }
}